















<div style="background-image:url(https://images6.alphacoders.com/368/thumb-1920-368872.jpg); opacity:0.9; height:100vh;">

   
    <div class="container" style="display:flex;justify-content:center;align-items:center;padding-top:100px;">
        <div class="row">
            <div class="col-md-4">
                <div class="center-block">
                    <img src="https://images.vexels.com/media/users/3/143191/isolated/preview/925871db899c05172adae868b7ca93c0-icono-de-color-naranja.png" style="width:200px;height:200px;display:block;margin:auto;" />
                </div>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="background-color:antiquewhite;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="RM2VV9U46YRAC">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Cantidad">Naranjas</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Opción 1">Opción 1 $1,00 USD</option>
                                    <option value="Opción 2">Opción 2 $2,00 USD</option>
                                    <option value="Opción 3">Opción 3 $3,00 USD</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>

            <div class="col-md-4">
                <div>
                    <img src="https://image.flaticon.com/icons/png/512/1087/1087432.png" style="width:200px;height:200px;display:block;margin:auto;"" />
                </div>
                <form  action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="background-color:antiquewhite;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="T3HELE77UDK3Y">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Cantidad">Durasnos</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Opción 1">Opción 1 $1,00 USD</option>
                                    <option value="Opción 2">Opción 2 $2,00 USD</option>
                                    <option value="Opción 3">Opción 3 $3,00 USD</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>

            <div class="col-md-4">
                <div>
                    <img src="https://cdn-icons-png.flaticon.com/512/590/590772.png" style="width:200px;height:200px;display:block;margin:auto;"" />
                </div>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"style="background-color:antiquewhite;">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="T3HELE77UDK3Y">
                    <table>
                        <tr><td><input type="hidden" name="on0" value="Cantidad">Frutillas</td></tr>
                        <tr>
                            <td>
                                <select name="os0">
                                    <option value="Opción 1">Opción 1 $1,00 USD</option>
                                    <option value="Opción 2">Opción 2 $2,00 USD</option>
                                    <option value="Opción 3">Opción 3 $3,00 USD</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                </form>

            </div>


        </div>
    </div>



</div>

