
@{
    ViewBag.Title = "MenuSubastas";
}

<h2 class="login-header">Subastas</h2>


<div id="menuclientesa">

    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("Index","Subasta")'"><span>Listado de Subastas</span></button>
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("Create","Subasta")'"><span>Registrar subasta</span></button>
    <button type="button" onclick="location.href='@Url.Action("MenuAdministrador")'"><span>Volver</span></button>


</div>

