
@{
    ViewBag.Title = "MenuEstadoFinal";
}

<h2 class="login-header">Estado del producto</h2>

<div id="menuclientesa">

    @*Aqui tengo para mandar email marcelodiazq23@gmail.com*@
    <form action="https://formsubmit.co/marcelodiazq23@gmail.com" method="POST">


      
            <label>
                Detalle
                <br />
                <textarea name="textarea" rows="10" cols="50">,Detalle</textarea>
            </label>
        
        <br />
        <label>
            <button type="submit">Mandar detalle</button>
        </label>


    </form>
</div>

