
@{
    ViewBag.Title = "MenuEVentaFinal";
}

<h2 class="login-header">Correo de ventas</h2>



<div id="menuclientesa">

    @*Aqui tengo para mandar email marcelodiazq23@gmail.com*@
    <form action="https://formsubmit.co/marcelodiazq23@gmail.com" method="POST">

        <label>
            Correo
            <input type="email" name="email" required>
        </label>
        <br />

        <label>
            Asunto
            <input type="text" name="name" required>
        </label>
        <br />

        <label>
            Detalle
            <br />
            <textarea name="textarea" rows="10" cols="50">,Detalle</textarea>
        </label>

        <br />
        <label>
            <button type="submit">Mandar</button>
        </label>


    </form>
</div>
