
@{
    ViewBag.Title = "MenuCompras";
}

<h2 class="login-header">Compras</h2>


<div id="menuclientesa">

    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("Index","Compra")'"><span>Compras</span></button>
    <button type="button" onclick="location.href='@Url.Action("MenuAdministrador")'"><span>Volver</span></button>


</div>