
@{
    ViewBag.Title = "MenuTransportista";
}

<h2 class="login-header">Menu de Transportistas</h2>




<div id="menuclientesa">

    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("Index","Transportista")'"><span>Listado de Transportistas</span></button>
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("Create","Transportista")'"><span>Registrar Transportista</span></button>
    <button type="button" onclick="location.href='@Url.Action("MenuAdministrador")'"><span>Volver</span></button>

</div>