
@{
    ViewBag.Title = "MenuContratos";
}

<h2 class="login-header">Contratos</h2>

<div id="menuclientesa">

    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("Index","Contrato")'"><span>Lista de contratos</span></button>
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("Create","Contrato")'"><span>Crear Contrato</span></button>
    <button type="button" onclick="location.href='@Url.Action("MenuAdministrador")'"><span>Volver</span></button>

</div>