
@{
    ViewBag.Title = "VistaTotalClientes";
}

<h2 class="login-header">Menu Clientes</h2>

<div id="menuclientesa">
    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("VistaCliente")'"><span>Cliente Interno</span></button>

    <button style="margin-bottom:5px;" type="button" onclick="location.href='@Url.Action("VistaClientex")'"><span>Cliente Externo</span></button>



</div>