
@{
    ViewBag.Title = "VistaProductor";
}

<h2 class="login-header">Menu de Productores</h2>



<div id="menuclientesa">
    <button style="margin-bottom:5px;"  type="button" onclick="location.href='@Url.Action("Create","Producto")'"><span>Registrar Producto</span></button>
 
    <button style="margin-bottom:5px;"  type="button" onclick="location.href='@Url.Action("Index","Producto")'"><span>Modificar Productos</span></button>
    
   
    
</div>

